* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Montserrat';
	font-weight: 500;
	color: #000;
}

ul,
nav {
	list-style: none;
}

a {
	text-decoration: none;
	opacity: 1;
	color: #000;
}

a:hover {
	opacity: 1;
}

a.btn {
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	background-color: #ff1a1a;
	opacity: 1;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 80px 0;
}

@media (max-width: 800px) {
	section {
		padding: 80px 0;
	}
}


hr {
	width: 250px;
	height: 3px;
	background-color:#00244E;
	border: 0;
	margin-bottom: 50px;
	text-align: center;
}

section h3.title {
	text-transform: capitalize;
	font: bold 30px;
	margin-bottom: 30px;
}

section p {
	max-width: 775px;
	line-height: 2;
	padding: 0 20px;
	margin-bottom: 30px;
}

@media (max-width: 800px) {
	section {
		padding: 50px 20px;
	}
}



header {
	/*position: absolute;*/
	width: 100%;
	padding: 20px 10px;
	color: #000;
	background-color: #fff;
}

header a{
	margin:0 10px;
	color: #000;
}

header h2 {
	color: #000;
	font-weight: 10000;
	font-size: 30px;
}

header nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header nav li {
	margin: 0 2px;
}

header img{
	width:270px;
}

@media (max-width: 800px) {
	header {
		padding: 20px 10px;
	}

	header nav{
		flex-direction: column;
	}

	header h2 {
		font-size: 25px;
	}

	header nav li {
		margin: 10px 5px;
		font-size: 20px;
	}
}

/*Hero Styles*/

.hero {
	position:relative;
	top:0;
	left: 0;
	justify-content: center;
	text-align: center;
	align-items: center;
	min-height: 100vh;
	color: #fff;
	background: #00244E;
	background-position: 50% 50%;
	z-index: -2;
}

.hero .background-image {
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height: auto;
	background-size: cover;
	background-position: 50% 50%;
	z-index: -1;
    margin-bottom: 0px;
}

.hero h1 {
	font-size: 70px;
	margin-bottom: 15px;
}

.hero h3 {
	font-size: 30px;
	margin-bottom: 40px;
}

.hero a.btn {
	margin: 10px;
	padding: 20px 46px;
	background-color: #fff;
}

.hero-content-area {
	opacity: 1;
	margin-top: 0px;
	width: 100%;
	z-index: 20;
}

.hero-content-area img{
	width:300px;
}


@media (max-width: 800px) {
	.hero {
		min-height: 90vh;
	}

	.hero .background-image{
		background-position: 50% 50%;
	}

	.hero img{
      width: auto;
	  height: 400px;
	}

	.hero h1 {
		font-size: 60px;
	}

	.hero h3 {
		font-size: 25px;
	}

	.hero a.btn {
		margin: 20px;
		padding: 20px 20px;
	}
}



/*Testimonials Section*/


.backg{
	background-image: url("./img/inside.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	background-attachment: fixed;
	width:100%;
	height:800px;
	display:flex;
	align-items: center;
	text-align: center;
	padding: 0 30px;
}

.testimonials{
	display:flex;
	justify-content: space-around;
	flex-direction:row;
	flex-wrap:wrap;
	text-align: center;
}

.testimonials div{
	color:#00244E;
	flex-basis:30%;
	margin-bottom: 20px;
	margin: 20px auto;
	line-height: 1.5;
}

.testimonials i{
	font-size: 25px;
}

.testimonials .iright{
	text-align: right;
}

.testimonials .ileft{
	text-align: left;
}

@media (max-width: 800px) {
	.testimonials{
		flex-direction: column;
	}

	.testimonials div{
		flex-basis:95%;
	}
}






/*footer***************************************************************/

#location h1{
    font-size: 60px;
    margin-bottom: 20px;
}

@media (max-width: 800px) {
	iframe{
		width:95%;
	}
}

footer{
	padding:0 20px;
	background-color: #00244E;
	padding-top:20px;
}

footer img{
	width: 300px;
}

.footergrid{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
    background-color: #00244E;
	color: #fff;
	padding: 5px 0;
}

.footergrid div{
	flex-basis: 30%;
	background-color: #00244E;
	text-align:left;
}

footer li{
	text-align: left;
	padding:10px;
}

footer i {
   font-size:30px;
   color:#fff;
}

footer p {
	text-align: center;
	padding: 20px;
	color: #fff;
}

footer hr{
	margin: 10px auto;
	width:90%;
	border: #fff solid 2px;
}

@media (max-width: 800px) {
    footer{
    	text-align: center;
    }

	.footergrid {
		flex-direction: column;
	}

	footer a{
		text-align: left;
	}

	footer p {
		text-align: center;
		margin-bottom: 20px;
	}

	footer div{
		text-align: left;
		margin-bottom: 20px;
	}

	.footergrid li{
		text-align: left;
	    padding:10px;
	}

	footer .toleft a{
		margin: left -1px;
	}

} 

footer a{
   color:#fff;
}



/********************************************************************slide*/


* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  margin: 0 auto;
  width: 50%;
  position: relative;
}

@media (max-width: 900px) {
  .container {
  	width: 100%;
  }
} 

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img{
	width:100%;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Container for image text */
.caption-container {
  align-items: center;
  text-align: center;
  background-color: #00244E;
  padding: 2px 16px;
  color: #000;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 10%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.7;
}

.active,
.demo:hover {
  opacity: 1;
}




/*menu**************************************************************/

#menu{
	background-color:#00244E;
}

.fullmenu{
	text-align: center;
}

.fullmenu img{
	width:60%;
	margin:10px auto;
}

@media (max-width: 1100px) {
    .fullmenu img{
	width:100%;
	margin:20px 0;
}
} 


/*aboutus**************************************************************/

.about{
	display:relative;
	background-image: url("./img/organic.jpg");
	background-size:cover;
	width:100%;
	height: 650px;
	background-repeat: no-repeat;
	align-items: center;
}

.about div{
	display:absolute;
	top:0;
	left:0;
	width:500px;
	text-align: left;
}



/*gallery**************************************************************/

#gallery{
	background-color: #7F6161;
}

.container div{
	text-align:center;
}

#location{
	background-color: #000;
	color: #00244E;
}






/*slider**************************************************************/


#slider {
            width: 100%;
            position: absolute;
            margin:0;
        }

.slider_item {
            width: 100%;
            height: 700px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top:0;
            z-index: 0;
            overflow: hidden;
            opacity: 0;
            transition:all .5s ease-in-out;
            transform: scale(0.9);
        }
.slider_item img {
        	height: 100%;
        }

.slider_item:nth-child(odd){
            background-color:#00244E;
        }
.slider_item:nth-child(even){
            background-color:#00244E;
        }
.showing{
            opacity: 1;
            z-index: 1;
            transform: none;
        }

@media (max-width: 1100px) {
	.slider_item{
		margin-top:50px;
		height:500px;
		background-position: center;
        background-size: contain;

	}

	.slider_item img {
        background-position: center;
        background-size: contain;
        }
}


.pics{
 background-image:url("./img/grass.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 color:#000;
 font-weight: 700;
 text-align: center;
}

.pics img{
	width: 60%;
}

.slides{
	display: flex;
	justify-content: center;
	width:100%;
}

.pics p, .pics h3{
	color:#000;
	text-shadow: 1px 1px #00244E;
}

.slides img{
	height: 300px;
	background-clip: content-box;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

@media (max-width: 800px) {

	.slides{
		width:100%;
		height:250px;
		margin:10px;
		margin-bottom: 100px;
	}
	.slides img{
		height: 250px;
		margin-bottom:30px;
	}

	.pics img{
		width:100%;
	}
}

#update{
	background:#000;
	color:#D74145;
	font-size: 20px;
	font-weight: 1000;
	padding:20px 10px;
	text-align:center;
}

@media (max-width: 800px) {
	#update{
		padding: 20px 5px;
		font-size:20px;
	}
}


#lover img{
	width: 500px;
	height: auto;
	margin:20px 0;
	background-size:cover;
	border-radius: 5%;
	text-align: center;
}

@media (max-width: 800px) {
	#lover{
		text-align: center;
	}
	#lover img{
		width:95%;
	}
}


section h3.title {
	text-transform: capitalize;
	font-size: 30px;
	margin-bottom: 20px;
	text-align: center;
}



.verytop{
	position: fixed;
	top: -60px;
	width: 100%;
	display:block;
	background:#000;
	color:#D74145;
	font-size: 20px;
	font-weight: 1000;
	text-align:center;
	height:60px;
	z-index:5;
   }
   
   .verytop ul{
	   display:flex;
	   flex-direction: row;
	   justify-content: space-around;
	   padding-top: 15px;
   }
   
   .verytop a{
	   padding: 10px;
	   color:#ff000d;
	   font-weight: 900;
   }


   .grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.packages{
	background-color:#fff;
	text-align: left;
}


.packages .grid li {
	padding: 25px;
	flex-basis: 50%;
	text-align: left;
}

.grid div{
	flex-basis: 35%;
	text-align: left;
}

.packages .grid li h4 {
	font-size: 20px;
	margin: 20px 0;
}

.packages img{
	width: 100%;
	border-radius: 5%;
}

.aboutus{

}

.aboutus h4{
	font-size: 20px;
	margin: 20px 0;
	width:50%;
	text-align: left;
}

@media (max-width: 800px) {
	.packages .grid li {
		flex-basis: 100%;
		padding: 20px;
	}

	.grid div{
		flex-basis: 90%;
		margin-top: 25px;
	}

	.aboutus h4{
		width:90%;
	}

}

.lightblue{
	background-color: #f0f0f0;
}



.red{
	color:red;
}

.flyer{
	text-align: center;
}

.flyer img{
	width:450px;
	text-align: center;
}

@media (max-width: 800px) {

.flyer img{
	width:90%;
}

}